<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Pick-a-Park</title>
  </head>
  <body>
    <nav>
      <img src="/images/Tree.svg" alt="" />
      <a href="/parks">All Parks</a>
      <a href="/reviews">All Reviews</a>
    </nav>
    <main>
      <h1><%= title %></h1>
    </main>
  </body>
</html>
