<%- include('./partials/header') %>

<img src="./images/Tree.svg" alt="" />

<h2>
  Browse the list of parks available to be reviewed. If the park you want to add
  is not on the list then go ahead and add it and then leave your review!
</h2>

<%- include('./partials/footer') %>
