<%- include('../partials/header') %>
<h2>Add a Park to Review</h2>
<form action="/parks" method="POST">
  <label
    >Park:
    <input type="text" name="name" />
  </label>
  <label
    >Street:
    <input type="text" name="street" />
  </label>
  <label
    >City:
    <input type="text" name="city" />
  </label>
  <label
    >Washrooms:
    <select name="washrooms">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
  </label>
  <label class="amenities"
    >Amenities:
    <input type="text" name="amenities" />
  </label>
  <input class="button" type="submit" value="Add Park" />
</form>
<%- include('../partials/footer') %>
